<!DOCTYPE html>
<html>
	<head>
		<title>Playamo Free Casino</title>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="icon" href="assets/images/logo.png" width="10px" height="10px"/>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" >
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="assets/css/index.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
		<script type="text/javascript" src="assets/js/index.js"></script>
	</head>
	<body>		
		<nav id="menu" class="mm-menu mm-border-none mm-theme-black mm-offcanvas">
			<div class="mm-panels">
				<div class="mobile-menu mm-panel mm-opened mm-current" id="mm-1">
					<!-- asd -->
    			<div class="mobile-auth"> <!-- If user is not existed -->
	    			<div class="mobile-auth__anon">
	        		<a class="mobile-auth__register-link signup_btn" href="#">Sign Up</a>
        			<div class="mobile-auth__anon-text">Just 8 seconds</div>
	        		<a class="mobile-auth__login-link login_btn" href="#">Sign In</a>
	    			</div>
					</div>
	        <ul class="header-menu mm-listview">
	    			<li class="header-menu__item">
	        		<a class="header-menu__link header-menu__link--games header-menu__link--current" href="/games">All Games</a>
	    			</li>
	    			<li class="header-menu__item">
	        		<a class="header-menu__link header-menu__link--top-games" href="/games/top_games">Top games</a>
				    </li>
				    <li class="header-menu__item">
							<a class="header-menu__link header-menu__link--new" href="/games/new">New</a>
				    </li>
				    <li class="header-menu__item">
							<a class="header-menu__link header-menu__link--slots" href="/games/slots">Slots</a>
				    </li>
				    <li class="header-menu__item">
							<a class="header-menu__link header-menu__link--roulette" href="/games/playamo_net_roulette">Roulette Games</a>
				    </li>
				    <li class="header-menu__item">
							<a class="header-menu__link header-menu__link--blackjack" href="/games/playamo_net_blackjack">Blackjack</a>
				    </li>
					</ul>
	        <div class="left-menu-mobile text-center">
            <a href="" class="logo"> <img src="assets/images/logo.png" alt=""> </a>
	        </div>
		    </div>
		  </div>
		</nav>
		<div id="mm-0" class="mm-page mm-slideout">
			<div class="carcass">
        <header class="header">
          <div class="header__desktop">
            <div class="header__desktop-wrap">
              <a href="#" class="header__logo">
                <img class="header__logo-img" src="assets/images/logo.png">
              </a>
              <div class="header-auth">
                <div class="header-auth__anon">
                  <div class="header-auth__sign-up-text">Just 8 seconds</div>
                  <div class="header-auth__arrow"></div>
                  <a class="btn-p btn-p-oval btn-p-green header-auth__btn signup_btn" href="#">Sign Up</a>
                  <a class="btn-p btn-p-oval btn-p-yellow header-auth-sign-in login_btn" href="#">Sign In</a>
                </div>
              </div>
            </div>
            <ul class="header-menu">
              <li class="header-menu__item">
                <a class="header-menu__link header-menu__link--lobby header-menu__link--current" href="#">All Games</a>
              </li>
              <li class="header-menu__item">
                <a class="header-menu__link header-menu__link--top-games" href="#">Top Games</a>
              </li>
              <li class="header-menu__item">
                <a class="header-menu__link header-menu__link--new" href="#">New</a>
              </li>
              <li class="header-menu__item">
                <a class="header-menu__link header-menu__link--slots" href="#">Slots</a>
              </li>
              <li class="header-menu__item">
                <a class="header-menu__link header-menu__link--roulette" href="#">Roulette Games</a>
              </li>
              <li class="header-menu__item">
                <a class="header-menu__link header-menu__link--blackjack" href="#">Blackjack</a>
              </li>
            </ul>
          </div>
          <div class="header__mobile">
            <div class="header__mobile-wrp">
              <a href="#menu" class="header__mobile-btn">
                <button type="button" class="header__mobile-navbar">
                  <i class="glyphicon glyphicon-menu-hamburger"></i>
                </button>
              </a>
            </div>
            <a href="#" class="header__mobile-logo">
              <img class="header__mobile-logo-img" src="assets/images/logo.png">
            </a>
            <span class="header__fake-lang-mob"></span>
          </div>
        </header>
				<div class="carcass__body">
					<div class="ui-view">
            <div class="wrapper-page page-container content_area">
              <h1 class="title-cms">TERMS AND CONDITIONS</h1>
              <p>This site and their affiliates are not responsible for anything that you upload, say or otherwise do at this site. By using our site or registering at our site you agree to not upload any copyrighted material that you do not have the rights to, link to any inappropriate material and to be respectful in your interaction with other members.</p>
              <p>This Site is offered and made available only to users 18 years of age or older. If you are not yet 18 years old or the required greater age for certain features, please discontinue using the Site immediately, or if for any reason, you do not agree with all of the terms and conditions contained in this Agreement, please discontinue using the Site immediately because by using or attempting to use the Site, you certify that you are at least 18 years of age and meet any other eligibility requirements of the Site.</p>
              <h1 class="title-cms">PRIVACY POLICY</h1>
              <p>All information that you provide the site is stored to the site, but is not shared with any other service. You may request your stored data deleted at any time by contacting us and providing your username.</p>
            </div>
					</div>
				</div>
				<footer class="footer footer--desktop">
					<div class="wrapper-menu">
						<hr class="horizontal-line horizontal-line--remove-padding">
						<div class="footer__wrap">
							<div class="antillephone-wrp">
								Free casino playamofree.com is owned and operated by Direx N.V., a company registered and established under the
								laws of Curacao and its wholly owned subsidiary, Direx Limited, registered address Stasinou 1, MITSI
								Building 1, 1st Floor, Flat/Office 4, Plateia Eleftherias, Nicosia, Cyprus.
							</div>
							<p>
								The games are intended for an adult audience.
								The games do not offer "real money gambling" or an opportunity to win real money or prizes.
								Practice or success at social casino gaming does not imply future success at "real money gambling."
								Our games are free to play - no money is needed.
							</p>
							<nav class="footer-menu">
								<a class="footer-menu__item" ng-repeat="item in menu" ng-class="{'current': item.path == state.current.page_name || state.includes('app.cms', {path: item.path})}" ui-sref="app.external({id:'terms-and-privacy', lang:'en'})" ng-bind="item.title" ng-click="scrollPageTo()" href="/terms-and-privacy">TERMS AND CONDITIONS AND PRIVACY POLICY</a>
							</nav>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>